body {
  font-family: Arial, sans-serif;
  background: #f7f3f0;
  text-align: center;
}

.container {
  background: white;
  max-width: 400px;
  margin: 100px auto;
  padding: 20px;
  border-radius: 12px;
}

input, button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  font-size: 16px;
}

button {
  padding: 10px 20px;
  margin: 10px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  background-color: #f7c59f;
  border: none;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}
button:hover {
  background-color: #f4a261;
}


.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.gallery img, .gallery video {
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}
